[submodule "src/ros_cqi"]
	path = src/ros_cqi
	url = https://github.com/icsi-berkeley/ros_cqi
[submodule "src/ros_ecgworkbench"]
	path = src/ros_ecgworkbench
	url = https://github.com/icsi-berkeley/ros_ecgworkbench
[submodule "src/darwin_description"]
	path = src/darwin_description
	url = https://github.com/HumaRobotics/darwin_description
[submodule "src/darwin_control"]
	path = src/darwin_control
	url = https://github.com/HumaRobotics/darwin_control
[submodule "src/darwin_gazebo"]
	path = src/darwin_gazebo
	url = https://github.com/HumaRobotics/darwin_gazebo
[submodule "lsd_slam"]
	path = lsd_slam
	url = https://github.com/tum-vision/lsd_slam.git
