[submodule "ros_ecgworkbench"]
	path = ros_ecgworkbench
	url = https://github.com/meppe/ros_ecgworkbench.git
[submodule "darwin_description"]
	path = darwin_description
	url = https://github.com/HumaRobotics/darwin_description.git
[submodule "darwin_control"]
	path = darwin_control
	url = https://github.com/HumaRobotics/darwin_control.git
[submodule "darwin_gazebo"]
	path = darwin_gazebo
	url = https://github.com/HumaRobotics/darwin_gazebo.git
[submodule "ros_cqi"]
	path = ros_cqi
	url = https://github.com/meppe/ros_cqi.git
